

  
  <!-- Modal -->
  <div class="modal fade" id="TimecardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">TIMECARD FORM</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="timecardForm" (ngSubmit)="onSubmit(timecardForm)">

          <div class="card ">

            <div class="card-body d-flex">
           

                    <div class="row">
                        <div class="col">

                          <div class="form-outline">
                            <input  type="text" id="form6Example1" class="form-control" formControlName ="code"  [class.is-invalid]="code.invalid && code.touched" />
                            
                            <i   *ngIf="code.errors?.required" class="fas fa-exclamation-circle trailing" ></i>

                          </div>

                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" formControlName ="contractor" [class.is-invalid]="contractor.invalid && contractor.touched" />
                            <i   *ngIf="contractor.errors?.required" class="fas fa-exclamation-circle trailing" ></i>

                          </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                              <input type="date" id="form6Example2" class="form-control" formControlName ="date" [class.is-invalid]="date.invalid && date.touched" />
                              <i   *ngIf="date.errors?.required" class="fas fa-exclamation-circle trailing" ></i>

                            </div>
                          </div>
                    </div>
                    <div  class="spacetop">
               
                     <div class="form-control">
                      <div class="form-label textoverlay"><h5>Labor Entry</h5></div>
                    
                      
                      <div class="padingtopdiv" >
                        <div class="row">

                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form1">Job Code</label>

                         </div>
                         </div>

                         <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form1">Hour Worked</label>

                         </div>
                         </div>
                         <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form1">Total Amount</label>

                         </div>
                         </div>

                      </div>
                      <ng-container formArrayName="jobsForm" >
                        <ng-container *ngFor="let jobForm of jobsForm.controls; let i = index">
                          <div formGroupName="{{i}}">
                            
                            <div class="row">
                              
                              <div class="col">
                              

                                <div class="form-outline">
                                 
                                  <select class="form-select"  (change)="onChangeJob(i)"   formControlName ="Job" >
                                        <option [ngValue]="null" >Select Job </option>

                                    <option   *ngFor="let job of jobs" [ngValue]="job" placeholder="Choose One">{{job.code}}</option>
                                  </select>
                                
                                </div>
                                
                              </div>
                              <div class="col">
                                <div class="form-outline">
                                  <input type="number"   id="form6Example2" class="form-control"  formControlName ="JobHours" [min]="1" />
                               
                                </div>
                              </div>
                              <div class="col">
                                  <div class="form-outline">
                                    <input type="number" id="form6Example2"  class="form-control"  formControlName ="JobTotal" [min]="0" />
                                    <i class="fas fa-dollar-sign trailing"></i>

                                  </div>

                                </div>

                            
                          </div>

                        </div>
                      

                          </ng-container>

                </ng-container>
                  </div>
                  <div class="buttonoverlay">
                    <button type="button" (click)="addJobs()" class="btn-sm btn btn-primary btn-lg btn-floating">
                      <i class="fas fa-plus"></i>
                      </button>
                    <button type="button" (click)="delJobs()" class="btn btn-sm btn-danger btn-floating">
                      <i class="fas fa-minus"></i>
                      </button>
                  </div>
  
                    </div>
                 
                    
                </div>
                <div class="spacetop">

                   <div class="form-control" >
                    <div class="form-label textoverlay"><h5>Machine Entry</h5></div>
                      <div class="padingtopdiv" >

                        <div class="row">

                          <div class="col">
                            <div class="form-outline">
                              <label class="form-label" for="form1">Machine Code</label>
  
                           </div>
                           </div>
  
                           <div class="col">
                            <div class="form-outline">
                              <label class="form-label" for="form1">Hour Worked</label>
  
                           </div>
                           </div>
                           <div class="col">
                            <div class="form-outline">
                              <label class="form-label" for="form1">Total Amount</label>
  
                           </div>
                           </div>
  
                        </div>
                <ng-container id="formContrainer"formArrayName="MachinesForm">

                    <ng-container *ngFor="let MachineForm of MachinesForm.controls; let i = index">
                      <div formGroupName="{{i}}">
                        <div class="row ">
                          <div class="col  ">
                            <div class="form-outline">
                              <select  class="form-select" (blur) ="onChangeMachine(i)" aria-label="Default select example" formControlName ="Machine" >
                                <option [ngValue]="null" disabled>Select Machine </option>

                                <option *ngFor="let machine of machines" [ngValue]="machine">{{machine.code}}</option>

                              </select>
                            </div>
                          </div>
                          <div class="col  ">
                            <div class="form-outline">
                              <input type="number"  id="typeNumber" class="form-control" formControlName ="MachineHours" [min]="1" />
                              
                            </div>
                          </div>
                          <div class="col ">
                              <div class="form-outline">
                                <i class="fas fa-dollar-sign trailing"></i>

                                <input type="number"  id="typeNumber" class="form-control "   formControlName ="MachineTotal" [min]="0" >

                              </div>
                            </div>
                      </div>
                    </div>


                      </ng-container>

            </ng-container>
                </div>
                <div class="buttonoverlay">
                  <button type="button" (click)="addMachines()" class="btn-sm btn btn-primary btn-lg btn-floating">
                    <i class="fas fa-plus"></i>
                    </button>
                  <button type="button" (click)="delMachines()" class="btn btn-sm btn-danger btn-floating">
                    <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

        </div>

                
                
           
        </div>
        <div class="card-footer text-muted">

   <!-- Submit button -->
   <button type="submit" [disabled]="!timecardForm.valid" class="btn btn-primary btn-block mb-4">Submmit</button>
   <button (click)="reset()" class="btn btn-primary btn-block mb-4">Clear</button>


        </div>

        </div>
      </form>

      
      </div>

      </div>
      
    </div>
  </div>